bgcolor = #80ddc7
bg = url(../img/gray_sand.png)
bgnav = rgba(71, 71, 71, 0.36)
fontcardtitle = Appetite
bgcards = #232626
//tags
sport = url(../img/dumbbell.png)
tears = url(../img/tear.png)
education = url(../img/graduation-cap.png)
miracle = url(../img/magic-wand.png)
christmas = url(../img/christmas-tree.png)
favorite = url(../img/love.png)
//vampire = url(../img/vampire.png)
