@import "nib"
@import "color_fonts.styl"
@import "mixins.styl"

global-reset()

body
  background bg

.navbar
  background-color bgnav
.logo
  width 100%

//  main content
.row
  margin-top 5rem!important
.card
  background-color bgcards!important
  width 20rem
  height 40rem
  float left
  margin-bottom 2rem
.card-title
  font-family fontcardtitle
.card-img-top
  height 25rem


//tags
.tag
  width 32px
  height 32px
.sport
  background-image sport
.tears
  background-image tears
.love
  background-image favorite
.self-education
  background-image education
.miracle
  background-image miracle
.christmas
  background-image christmas

#Container .mix
  display none

// search
#div1
  display none

.hidding
  visibility hidden
  opacity 0

