@import "nib"
@import "color_fonts.styl"
@import "mixins.styl"

global-reset()

body
  background bg

.navbar
  background-color bgnav
.but-nav
  color lightpurple!important
  border-color lightpurple!important
.logo
  width 100%

//  Cards
.row
  margin-top 5rem!important
.card
  background-color bgcards!important
  width 20rem
  height 35rem
  float left
  margin-bottom 2rem
  border-color #3a3f40!important
.card-title
  font-family fontcardtitle
.card-body
  color darkpurple
.card-img-top
  height 20rem
.del_but
  background-color darkpurple
  border-radius 3px
  border none

//tags
.tag
  width 32px
  height 32px
.sport
  background-image sport
.tears
  background-image tears
.love
  background-image favorite
.self-education
  background-image education
.miracle
  background-image miracle
.christmas
  background-image christmas
.vampire
  background-image vamp
.filter
  background-color #4e4454
  color lightwhite

#Container .mix
  display none

// search
#div1
  display none

.hidding
  visibility hidden
  opacity 0
// modals
.modal-content
  background-color rgba(152, 133, 158, 0.71) !important
.center-block
  margin auto
.card-font
  font-family fontcardtitle
.modal-header
 border-color #373738!important

 //adding
.add_button
  width 9rem
  height 3rem
  background-color lightwhite!important
  margin 2rem auto
.form-control, .form-select
  background-color lightwhite!important

